.card-options {
  display: none;

  @media (hover: hover) and (pointer: fine) {
    & {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}

.option-button {
  display: inline-block;
  margin: 0 8px;
  font-weight: normal;
  border: none;
  background: none;
  cursor: pointer;

  .icon {
    margin-left: 3px;
  }

  .space-icon {
    vertical-align: bottom;
    --ionicon-stroke-width: 32px;
  }
}
