@import './unstyled';
@import '../_variables.scss';

button.unstyled {
  @include unstyled();
}

$button-bottom-margin: ($v-btn-shadow-spread + $v-btn-shadow-v-offset);

@mixin button-pristine {
  display: inline-block;
  background: var(--button-bg);
  color: var(--button-color) !important;
  border: none;
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms, color 200ms;
  box-shadow: var(--button-shadow);
  padding: var(--button-padding);
  margin: 0 $v-btn-shadow-spread $button-bottom-margin;
  outline: none;
}

@mixin button-active() {
  background: var(--button-active-bg);
  box-shadow: var(--button-active-shadow);
}

@mixin button-block() {
  width: calc(100% - #{$v-btn-shadow-spread} * 2);
}

@mixin button-hover() {
  background: var(--button-active-bg);
  color: var(--button-color);
}

@mixin button() {
  @include button-pristine();

  &.block {
    @include button-block();
  }

  &.outline {
    background: none;
    border: 1px solid var(--button-bg);
    color: var(--button-bg);
  }

  &:hover:not(disabled, .disabled),
  &:focus:not(disabled, .disabled) {
    @include button-hover();
  }

  &:active:not(disabled, .disabled) {
    @include button-active();
  }

  &[disabled],
  &.disabled {
    filter: grayscale(80%);
    cursor: auto;
  }
}
