@import '../variables';
@import 'underline';

@mixin link($important: '') {
  @include underline($important);
  color: $v-light-color-primary #{$important};
  background: none #{$important};
  border: none #{$important};
  border-radius: 0 #{$important};
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: $v-light-color-active #{$important};
  }
}

@mixin danger-link($important: '') {
  color: $v-light-color-danger #{$important};

  &:hover,
  &:focus,
  &:active {
    color: $v-light-color-danger-active #{$important};
  }
}
