@import '../variables';
@import 'underline';

@mixin link() {
  @include underline();
  color: $v-light-color-primary !important;
  background: none !important;
  border: none !important;
  border-radius: 0 !important;

  &:hover,
  &:focus,
  &:active {
    color: $v-light-color-active !important;
  }
}
