//
// Navbar
//

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: $white;

  .navbar-toggler {
    font-size: $font-size-sm;
    padding: 0.75rem 1rem;
    color: $gray-900;
  }

  .navbar-nav {
    .nav-item {
      .nav-link {
        color: $gray-900;
        &:hover {
          color: $gray-600;
        }
        &.active {
          color: $primary;
        }
      }
    }
  }

  .logo {
    height: 2.2rem;
  }
}
