:host {
  --color: #4285f4;
  --border-radius: 2px;
  background: var(--color);
  color: #fff;
  border: 1px solid var(--color);
  border-radius: var(--border-radius);
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  outline: none;

  &:focus,
  &:hover {
    box-shadow: 0 0 3px 3px rgb(66 133 244 / 60%);
  }

  &:active {
    --color: #3367d6;
    box-shadow: 0 0 3px 1px rgb(66 133 244 / 60%);
  }
}

.google-icon-container {
  background: #fff;
  padding: 15px;
  border-radius: var(--border-radius);
}

.google-icon {
  width: 18px;
  height: 18px;
  display: block;
}

.sign-in-label {
  padding: 0 24px;
  font-weight: 500;
  font-size: 16px;
}
