.study-container {
  height: var(--app-height);
  position: relative;
}

.study-list {
  display: block;
  height: 100%;
}

.nav {
  position: absolute;
  left: var(--container-padding);
  top: var(--container-padding);
}
