:host {
  --color: #4285f4;
  --border-radius: 2px;
  --shadow-spread: 3px;
  --shadow-blur: 2px;

  display: inline-block;
  padding: calc(var(--shadow-spread) + var(--shadow-blur));
}

.button {
  background: var(--color);
  color: #fff;
  border: 1px solid var(--color);
  border-radius: var(--border-radius);
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  outline: none;

  &:focus,
  &:hover {
    box-shadow: 0 0 var(--shadow-spread) var(--shadow-blur)
      rgb(66 133 244 / 60%);
  }

  &:active {
    --color: #3367d6;
    box-shadow: 0 0 var(--shadow-spread) calc(var(--shadow-blur) - 2px)
      rgb(66 133 244 / 60%);
  }

  .icon-container {
    background: #fff;
    padding: 15px;
    border-radius: var(--border-radius);
  }

  .icon {
    width: 18px;
    height: 18px;
    display: block;
  }

  .label {
    padding: 0 24px;
    font-weight: 500;
    font-size: 16px;
  }
}
