@import '../../../../../styles/variables';
@import '../../../../../styles/mixins/unstyled';
@import '../../../../../styles/mixins/link';

:host {
  display: block;
  position: relative;
}

.card {
  overflow: hidden;
}

.form {
  display: block;
  overflow: hidden;
}

.actions {
  position: absolute;
  right: 0;
  top: 0;
}

.action {
  $size: 2rem;
  @include unstyled();
  @include link();

  text-decoration: none;

  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  line-height: $size;
  border: 0.5px solid var(--primary-color);
  border-radius: 2px;

  &:hover {
    border-color: var(--active-color);
  }
}
