@import '../../../../../styles/variables';

$padding: 1rem;

:host {
  display: block;
  background-color: var(--contrast-bg);
  padding: $padding;
  border-radius: $border-radius;
  position: relative;
}

.side-a {
  font-size: 1.5rem;
}

.actions {
  position: absolute;
  padding: $padding;
  right: 0;
  top: 0;
}
