@use 'sass:math';
@import '~@vocably/styles/variables';
@import '~@vocably/styles/mixins/link';

@mixin base-font() {
  font-family: $font-family !important;
  font-size: $base-font-size !important;
  line-height: $base-line-height !important;
  color: $v-light-color-body !important;
}

@mixin button() {
  @include base-font();

  display: inline-block;
  background: $v-light-btn-bg;
  color: $v-light-btn-color !important;
  border: none;
  padding: math.div($base-font-size, 2);
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  border-radius: $base-line-height;
  text-align: center;
  text-decoration: none;
  width: calc(100% - #{$v-btn-shadow-spread} * 2);
  transition: background-color 200ms;
  margin: 0 $v-btn-shadow-spread ($v-btn-shadow-spread + $v-btn-shadow-v-offset);
  box-shadow: 0 $v-btn-shadow-v-offset $v-btn-shadow-spread
    rgba(0, 80, 255, 0.25);

  &:hover,
  &:focus {
    background: $v-light-btn-hover-bg;
  }

  &:active {
    background: $v-light-btn-active-bg;
    box-shadow: $v-light-btn-active-shadow;
  }
}
