@use 'sass:math';

@mixin base-font() {
  font-family: $font-family !important;
  font-size: $base-font-size !important;
  line-height: $base-line-height !important;
  color: $text-color !important;
}

@mixin button() {
  @include base-font();

  $shadow-spread: 6px;

  display: inline-block;
  background: $button-bg;
  color: $button-color !important;
  border: none;
  padding: math.div($base-font-size, 2);
  font: inherit;
  font-weight: 500;
  cursor: pointer;
  border-radius: $base-line-height;
  text-align: center;
  text-decoration: none;
  width: calc(100% - #{$shadow-spread} * 2);
  transition: background-color 200ms;
  margin: 0 $shadow-spread;
  box-shadow: 0 3px $shadow-spread rgba(0, 80, 255, 0.25);

  &:hover,
  &:focus {
    background: $button-bg-hover;
  }

  &:active {
    background: $button-bg-active;
  }
}
