@import '~@vocably/styles/colors';

$font-family: arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 20px;
$text-color: #6a6a6a;
$scroll-color: #a4a4a4;
$primary-color: $v-primary-500;
$button-color: $v-gray-250;
$button-bg: $v-gray-800;
$button-bg-hover: $v-gray-850;
$button-bg-active: $v-gray-750;
$border-radius: 4px;
$muted: $v-gray-350;
$input-bg-color: #fbfbfb;
$input-border-color: #bababa;
$input-border-radius: 8px;
