$font-family: arial, sans-serif;
$base-font-size: 16px;

$color-primary: #4a8fe2;
$color-danger: #dc3545;

$gray-100: #e6e7e8;
$gray-200: #ced0d2;
$gray-300: #b7b9bc;
$gray-400: #a0a3a6;
$gray-500: #898d91;
$gray-600: #74787d;
$gray-700: #5e6469;
$gray-800: #4a5056;
$gray-900: #1e2328;

$color-muted: $gray-800;
