@import '~@vocably/styles/colors';

$font-family: arial, sans-serif;
$base-font-size: 16px;
$button-color: $gray-250;
$button-bg: $gray-800;
$button-bg-hover: $gray-850;
$button-bg-active: $gray-750;
$border-radius: 4px;
