//@use 'sass:math';
@import '../../styles/component';

:host {
  display: block;
}

.button {
  $size: 19px;
  $icon-size: $size * 0.9;

  display: flex;
  border-radius: 5px;
  width: $size;
  height: $size;
  line-height: $size;
  background-color: #fff;
  padding: 3px;
  border: 1px solid $v-color-border;
  cursor: pointer;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;

  .svg {
    height: $icon-size;
  }

  &:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
}
