@import '../../styles/component';

:host {
  display: block;
}

.button {
  $size: 19px;

  display: flex;
  border-radius: 5px;
  width: $size;
  height: $size;
  line-height: $size;
  background-color: #fff;
  padding: 3px;
  border: 1px solid $barrier-color;
  cursor: pointer;
  box-sizing: content-box;
  text-align: center;
  align-items: center;

  .svg {
    height: $size;

    .path {
      fill: $v-gray-150;
    }
  }

  &:hover {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
}
