@import '../../styles/component';

:host {
  display: block;
}

.button {
  $size: 19px;

  display: flex;
  border-radius: 5px;
  width: $size;
  height: $size;
  line-height: $size;
  background-color: #fff;
  padding: 3px;
  border: 1px solid $gray-800;
  cursor: pointer;
  box-sizing: content-box;
  text-align: center;

  .svg {
    height: $size;

    .path {
      fill: $gray-150;
    }
  }

  &:hover {
    border-color: $gray-500;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px;
  }
}
