@import '../../styles/variables';

:host {
  --logo-color: #{$v-gray-150};

  display: inline-block;
  line-height: 0;
}

.svg {
  height: 100%;
  width: auto;

  .primary {
    fill: $primary-color;
  }
}
