.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: var(--form-background-color);
  background-clip: padding-box;
  border: 1px solid var(--form-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: $border-radius;
  transition: 0.15s ease-in-out;

  &:focus {
    outline: none;
    border-color: var(--form-border-color-focus);
    background-color: var(--form-background-color-focus);
  }
}
