.form {
  background: var(--contrast-bg);
  padding: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--emphasize-color);
  background-color: var(--form-background-color);
  background-clip: padding-box;
  border: 0.5px solid var(--form-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: $v-border-radius;
  transition: 0.15s ease-in-out;

  &:focus {
    outline: none;
    border-color: var(--form-border-color-focus);
    background-color: var(--form-background-color-focus);
  }
}

.csv-textarea {
  background: var(--contrast-bg);
  color: var(--text-color);
  border-color: var(--form-border-color);
  outline: none;
  font-family: monospace;
  width: 100%;
  resize: vertical;
  height: 10rem;
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  font-size: 90%;

  &:focus {
    background-color: var(--form-background-color-focus);
    border-color: var(--form-border-color-focus);
  }
}
