$header-height: $header-items-height + $header-bottom-padding;

.hero {
  height: calc(
    var(--app-height) - #{$header-height} - #{$container-padding * 2}
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-body {
  position: relative;
  top: -($header-height / 2);
}
