@use 'sass:math';

.hero {
  height: calc(
    var(--app-height) - #{$header-height} - var(--container-padding) * 2
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;

  &.max {
    height: calc(var(--app-height) - var(--container-padding) * 2);
  }
}

.hero-body {
  position: relative;

  .max & {
    top: 0;
  }
}
