@use 'sass:math';

.hero {
  min-height: calc(
    var(--app-height) - var(--header-height) - var(--container-padding) * 2
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;

  &.max {
    height: calc(var(--app-height));
  }
}

.hero-body {
  position: relative;
  top: calc(var(--header-height) / -2);

  .max & {
    top: 0;
  }
}
