.container,
.container-xl {
  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.top {
  padding-top: var(--container-padding);
}

.bottom {
  padding-bottom: var(--container-padding);
}

.container {
  @media (min-width: $md) {
    width: $md;
  }
}

.container-xl {
  @media (min-width: $xl) {
    width: $xl;
  }
}
