ul {
  list-style: none;

  > li {
    position: relative;
    padding-left: 0.8rem;
    &::before {
      left: 0;
      top: 0;
      position: absolute;
      content: '•';
      line-height: 1.5rem;
      font-size: 0.8rem;
    }
  }
}

ul.unstyled {
  > li {
    padding-left: 0;
    &::before {
      display: none;
    }
  }
}
