ul {
  list-style-type: disc;

  > li {
    > .fix-list-item {
      margin-left: -1.5rem;
    }
  }
}

ul.unstyled {
  list-style: none;
}

ul.outside {
  list-style-position: outside;

  > li {
    > .fix-list-item {
      margin-left: 0;
    }
  }
}

ol.outside {
  list-style-position: outside;
  margin-left: 1.2em;
}

ul.separated {
  & > li {
    $distance: 0.75rem;
    margin-top: $distance;
    padding-top: $distance;
    border-top: 0.5px solid var(--text-color);

    &:first-child {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }
  }
}
