@mixin theme-variables($theme) {
  @each $variable, $value in $theme {
    --#{$variable}: #{$value};
  }
}

:root {
  @include theme-variables($dark-theme);
  --app-height: 100vh;
  --container-padding: #{$container-padding};

  @media (max-width: $sm) {
    --container-padding: #{$container-padding-sm};
  }
}
