.block {
  display: block;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-0_5 {
  margin-right: 0.5rem;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.strong {
  font-weight: bold;
}
