@import 'mixins/underline';

.block {
  display: block;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-0_5 {
  margin-right: 0.5rem;
}

.ml_0_25 {
  margin-left: 0.25rem;
}

.ml-0_5 {
  margin-left: 0.5rem;
}

.pr-1 {
  padding-right: 1rem;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.strong {
  font-weight: bold;
}

.lead-2 {
  font-size: 2rem;
}

.lead-3 {
  font-size: 3rem;
}

.strike {
  text-decoration: line-through;
}

.underline {
  @include underline();
}

.text-decoration-none {
  text-decoration: none;
}

.italic {
  font-style: italic;
}

.small {
  font-size: 80%;
}

.muted {
  color: var(--text-muted);
}

.invisible-space {
  width: 0;
  font-size: 0;
}

.middle {
  vertical-align: middle;
}
