@import '~@vocably/styles/colors';

$white: #ffffff;
$white-rgb: 255, 255, 255;

$dark-primary: $white;
$dark-primary-rgb: $white-rgb;
$dark-body-bg: $gray-100;
$dark-body-bg-rgb: 33, 33, 33;
$dark-body-bg-transparent: 'rgba(' + #{$dark-body-bg-rgb} + ', 0)';
$dark-text-color: $white;
$dark-text-color-rgb: $white-rgb;
$dark-border-color: $gray-400;

$dark-theme: (
  primary-color: $dark-primary,
  logo-color: $gray-800,
  body-bg: $dark-body-bg,
  body-bg-transparent: $dark-body-bg-transparent,
  text-color: $dark-text-color,
  text-muted: $gray-600,
  contrast-bg: $gray-150,
  button-border-color: $dark-border-color,
  button-border-color-hover: $gray-600,
  button-bg: $gray-200,
  button-bg-hover: $gray-250,
  button-active-bg: $gray-550,
  button-active-border-color: $gray-950,
  button-danger-bg: $red-150,
  button-danger-bg-hover: $red-200,
  button-danger-border-color: $red-500,
  button-danger-border-color-hover: $red-550,
  button-amplified-bg: $orange-350,
  button-amplified-bg-hover: $orange-400,
  button-amplified-border-color: $orange-500,
  button-amplified-border-color-hover: $orange-550,
  form-border-color: $gray-400,
  form-border-color-focus: $gray-750,
  form-background-color: $gray-850,
  form-background-color-focus: $white,
  toast-background: $gray-850,
  toast-button-color: $gray-100,
  toast-color: $gray-200,
  ion-color-primary: $dark-primary,
  ion-color-primary-rgb: $dark-primary-rgb,
  ion-background-color: $dark-body-bg,
  ion-background-color-rgb: $dark-body-bg-rgb,
  ion-text-color: $dark-text-color,
  ion-text-color-rgb: $dark-text-color-rgb,
  ion-border-color: $dark-border-color,
  ion-color-step-50: $gray-50,
  ion-color-step-100: $gray-100,
  ion-color-step-150: $gray-150,
  ion-color-step-200: $gray-200,
  ion-color-step-250: $gray-250,
  ion-color-step-300: $gray-300,
  ion-color-step-350: $gray-350,
  ion-color-step-400: $gray-400,
  ion-color-step-450: $gray-450,
  ion-color-step-500: $gray-500,
  ion-color-step-550: $gray-550,
  ion-color-step-600: $gray-600,
  ion-color-step-650: $gray-650,
  ion-color-step-700: $gray-700,
  ion-color-step-750: $gray-750,
  ion-color-step-800: $gray-800,
  ion-color-step-850: $gray-850,
  ion-color-step-900: $gray-900,
  ion-color-step-950: $gray-950,
  ion-item-background: $gray-150,
  ion-toolbar-background: #1f1f1f,
  ion-tab-bar-background: #1f1f1f,
  ion-card-background: #1e1e1e,
);

$sm: 576px;
$md: 768px;

$container-padding: 2rem;
$container-padding-sm: 1rem;

$header-items-height: 2rem;
$logo-height: 1.4rem;
$header-bottom-padding: 2rem;
$header-height: $header-items-height + $header-bottom-padding;

$border-radius: 4px;
