@import '~@vocably/styles/colors';

$white: #ffffff;
$white-rgb: 255, 255, 255;

$dark-primary: $white;
$dark-primary-rgb: $white-rgb;
$dark-body-bg: $gray-100;
$dark-body-bg-rgb: 28, 28, 28;
$dark-text-color: $white;
$dark-text-color-rgb: $white-rgb;
$dark-border-color: $gray-400;

$dark-theme: (
  primary-color: $dark-primary,
  body-bg: $dark-body-bg,
  text-color: $dark-text-color,
  contrast-bg: $gray-150,
  button-border-color: $dark-border-color,
  button-border-color-hover: $gray-600,
  button-bg: $gray-200,
  button-bg-hover: $gray-250,
  button-danger-bg: $red-150,
  button-danger-bg-hover: $red-200,
  button-danger-border-color: $red-500,
  button-danger-border-color-hover: $red-550,
  ion-color-primary: $dark-primary,
  ion-color-primary-rgb: $dark-primary-rgb,
  ion-background-color: $dark-body-bg,
  ion-background-color-rgb: $dark-body-bg-rgb,
  ion-text-color: $dark-text-color,
  ion-text-color-rgb: $dark-text-color-rgb,
  ion-border-color: $dark-border-color,
  ion-color-step-50: $gray-50,
  ion-color-step-100: $gray-100,
  ion-color-step-150: $gray-150,
  ion-color-step-200: $gray-200,
  ion-color-step-250: $gray-250,
  ion-color-step-300: $gray-300,
  ion-color-step-350: $gray-350,
  ion-color-step-400: $gray-400,
  ion-color-step-450: $gray-450,
  ion-color-step-500: $gray-500,
  ion-color-step-550: $gray-550,
  ion-color-step-600: $gray-600,
  ion-color-step-650: $gray-650,
  ion-color-step-700: $gray-700,
  ion-color-step-750: $gray-750,
  ion-color-step-800: $gray-800,
  ion-color-step-850: $gray-850,
  ion-color-step-900: $gray-900,
  ion-color-step-950: $gray-950,
  ion-item-background: $gray-150,
  ion-toolbar-background: #1f1f1f,
  ion-tab-bar-background: #1f1f1f,
  ion-card-background: #1e1e1e,
);

$sm: 768px;

$container-padding: 2rem;
$container-padding-sm: 1rem;

$header-items-height: 2rem;
$header-bottom-padding: 2rem;

$border-radius: 4px;
