@import '~@vocably/styles/colors';
@import '@vocably/styles/variables';

$white: #ffffff;
$white-rgb: 255, 255, 255;

$dark-theme: (
  primary-color: $v-dark-color-primary,
  active-color: $v-dark-color-active,
  danger-color: $v-dark-color-danger,
  emphasize-color: $v-dark-color-emphasize,
  body-bg: $v-dark-color-body-bg,
  body-bg-transparent: $v-dark-color-body-bg-transparent,
  text-color: $v-dark-color-body,
  text-muted: $v-gray-600,
  contrast-bg: $v-dark-color-contrast,
  border-color: $v-dark-color-border,

  button-bg: $v-dark-color-primary,
  button-bg-hover: $v-dark-color-active,
  button-active-bg: $v-dark-btn-active-bg,
  button-shadow: $v-dark-btn-box-shadow,
  button-active-shadow: $v-dark-btn-active-shadow,
  button-padding: 0.5rem 2rem,

  form-border-color: $v-dark-color-border,
  form-border-color-focus: $v-dark-color-border,
  form-background-color: $v-dark-color-contrast,
  form-background-color-focus: $v-dark-color-contrast,
  toast-background: $v-gray-850,
  toast-button-color: $v-gray-100,
  toast-color: $v-gray-200,
);

$sm: 576px;
$md: 768px;
$xl: 1200px;

$container-padding: 2rem;
$container-padding-sm: 1rem;

$logo-height: 1.4rem;
$header-items-height: 2rem;
$header-padding-bottom: 2rem;
$header-back-padding-bottom: 1.5rem;
$header-back-height: 2.2rem;

$border-radius: 4px;
