@import '../../../../styles/variables';

$deck-options-height: 3rem;
$gradient-bottom-margin: 1rem;

.gradient {
  --gradient-height: calc(
    var(--app-height) - var(--header-height) - #{$deck-options-height} - #{$gradient-bottom-margin} -
      var(--container-padding) * 2
  );

  margin-bottom: $gradient-bottom-margin;
  position: relative;
  max-height: max(3rem, var(--gradient-height));
  overflow: hidden;

  &::after {
    --height: 3rem;
    position: absolute;
    content: '';
    left: 0;
    top: max(3rem, calc(var(--gradient-height) - var(--height)));
    height: var(--height);
    width: 100%;
    background: linear-gradient(var(--body-bg-transparent), var(--body-bg));
    pointer-events: none;
  }
}

.deck-options {
  line-height: $deck-options-height;
  height: $deck-options-height;
}

.card {
  background-color: var(--contrast-bg);
  padding: 1rem;
  border-radius: $border-radius;
}

.side-a {
  font-size: 2rem;
}
