@import '~@vocably/styles/variables';

:host {
  display: flex;
}

.pl-0 {
  padding-left: 0;
}

.select {
  ::ng-deep {
    .mat-select-min-line {
      font-size: $v-small-font;
    }
  }
}

.icon {
  --ionicon-stroke-width: 20px;
}
