@import '../../styles/component';

:host {
  @include base-font();
  display: block;
}

.container {
  display: inline-block;
}

.message {
  margin-bottom: $p-margin;
}

.button {
  @include button();
}
