html {
  height: 100%;
  background: #000 url(background.jpg) no-repeat center top fixed;
  background-size: cover;
}

body {
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 1) 70%
  );

  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: #fff;
}

.screen-center {
  min-height: 100vh; /* height of the browser viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}

.title {
  margin-bottom: 18px;
}

.description {
  font-size: 24px;
  margin-bottom: 50px;
  text-shadow: 0px 0px 4px #000000;
  text-align: center;
}

.cta {
  position: relative;
}

.form {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: visible;
  opacity: 1;
  transition: visibility 0s 0.5s, opacity 0.1s linear;
}

.form.hidden {
  visibility: hidden;
  opacity: 0;
}

.success {
  font-weight: 300;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.success.visible {
  visibility: visible;
  opacity: 1;
}

.email {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding: 12px;
  min-width: 250px;
  background-color: rgb(224, 224, 224);
  outline: none;
  border: 1px solid rgb(109, 109, 109);
  height: 48px;
  box-sizing: border-box;
}

.email:focus {
  background-color: White;
  border-color: rgb(199, 199, 199);
}

.submit {
  display: inline-block;
  background: rgb(58, 58, 58);
  color: inherit;
  border: 1px solid rgb(109, 109, 109);
  padding: 13px;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 200ms;
  outline: none;
  height: 48px;
  box-sizing: border-box;
}

.submit:hover,
.submit:focus {
  border-color: rgb(160, 160, 160);
  background: rgb(71, 71, 71);
}
