@import '../../styles/component';

:host {
  @include base-font();
  display: block;
}

.container {
  display: inline-block;
}

.p {
  margin-bottom: $p-margin;
  text-align: center;

  a {
    color: $v-primary-500;
  }
}
