$v-gray-50: rgb(20, 20, 20);
$v-gray-100: rgb(33, 33, 33);
$v-gray-150: rgb(46, 46, 46);
$v-gray-200: rgb(58, 58, 58);
$v-gray-250: rgb(71, 71, 71);
$v-gray-300: rgb(84, 84, 84);
$v-gray-350: rgb(97, 97, 97);
$v-gray-400: rgb(109, 109, 109);
$v-gray-450: rgb(122, 122, 122);
$v-gray-500: rgb(135, 135, 135);
$v-gray-550: rgb(148, 148, 148);
$v-gray-600: rgb(160, 160, 160);
$v-gray-650: rgb(173, 173, 173);
$v-gray-700: rgb(186, 186, 186);
$v-gray-750: rgb(199, 199, 199);
$v-gray-800: rgb(211, 211, 211);
$v-gray-850: rgb(224, 224, 224);
$v-gray-900: rgb(237, 237, 237);
$v-gray-950: rgb(250, 250, 250);

$v-red-50: rgb(22, 3, 3);
$v-red-100: rgb(44, 7, 7);
$v-red-150: rgb(66, 10, 10);
$v-red-200: rgb(88, 14, 14);
$v-red-250: rgb(110, 17, 17);
$v-red-300: rgb(133, 20, 20);
$v-red-350: rgb(155, 24, 24);
$v-red-400: rgb(177, 27, 27);
$v-red-450: rgb(199, 31, 31);
$v-red-500: rgb(221, 34, 34);
$v-red-550: rgb(224, 56, 56);
$v-red-600: rgb(228, 78, 78);
$v-red-650: rgb(231, 100, 100);
$v-red-700: rgb(235, 122, 122);
$v-red-750: rgb(238, 145, 145);
$v-red-800: rgb(241, 167, 167);
$v-red-850: rgb(245, 189, 189);
$v-red-900: rgb(248, 211, 211);
$v-red-950: rgb(252, 233, 233);

$v-green-50: rgb(6, 13, 5);
$v-green-100: rgb(13, 32, 12);
$v-green-150: rgb(21, 51, 19);
$v-green-200: rgb(29, 69, 26);
$v-green-250: rgb(36, 88, 33);
$v-green-300: rgb(44, 107, 39);
$v-green-350: rgb(52, 125, 46);
$v-green-400: rgb(60, 144, 53);
$v-green-450: rgb(67, 162, 60);
$v-green-500: rgb(75, 181, 67);
$v-green-550: rgb(90, 191, 82);
$v-green-600: rgb(108, 198, 101);
$v-green-650: rgb(126, 205, 120);
$v-green-700: rgb(143, 212, 138);
$v-green-750: rgb(161, 219, 157);
$v-green-800: rgb(179, 226, 175);
$v-green-850: rgb(197, 232, 194);
$v-green-900: rgb(215, 239, 213);
$v-green-950: rgb(232, 246, 231);

$v-orange-50: rgb(25, 14, 0);
$v-orange-100: rgb(51, 28, 0);
$v-orange-150: rgb(77, 42, 0);
$v-orange-200: rgb(102, 56, 0);
$v-orange-250: rgb(128, 70, 0);
$v-orange-300: rgb(153, 84, 0);
$v-orange-350: rgb(179, 98, 0);
$v-orange-400: rgb(204, 112, 0);
$v-orange-450: rgb(230, 126, 0);
$v-orange-500: rgb(255, 140, 0);
$v-orange-550: rgb(255, 152, 26);
$v-orange-600: rgb(255, 163, 51);
$v-orange-650: rgb(255, 175, 77);
$v-orange-700: rgb(255, 186, 102);
$v-orange-750: rgb(255, 198, 128);
$v-orange-800: rgb(255, 209, 153);
$v-orange-850: rgb(255, 221, 179);
$v-orange-900: rgb(255, 232, 204);
$v-orange-950: rgb(255, 243, 229);

$v-primary-50: rgb(0, 0, 0);
$v-primary-100: rgb(1, 4, 11);
$v-primary-150: rgb(2, 12, 35);
$v-primary-200: rgb(4, 20, 59);
$v-primary-250: rgb(6, 29, 83);
$v-primary-300: rgb(7, 37, 107);
$v-primary-350: rgb(9, 45, 130);
$v-primary-400: rgb(11, 53, 154);
$v-primary-450: rgb(12, 62, 178);
$v-primary-500: rgb(14, 70, 202);
$v-primary-550: rgb(16, 78, 226);
$v-primary-600: rgb(28, 91, 239);
$v-primary-650: rgb(52, 108, 241);
$v-primary-700: rgb(75, 125, 243);
$v-primary-750: rgb(99, 142, 244);
$v-primary-800: rgb(123, 160, 246);
$v-primary-850: rgb(147, 177, 248);
$v-primary-900: rgb(171, 194, 249);
$v-primary-950: rgb(195, 211, 251);

$v-secondary-100: rgb(130, 122, 0);
$v-secondary-200: rgb(181, 170, 0);
$v-secondary-300: rgb(232, 217, 0);
$v-secondary-400: rgb(255, 241, 28);
$v-secondary-500: rgb(255, 244, 79);
$v-secondary-600: rgb(255, 247, 130);
$v-secondary-700: rgb(255, 250, 181);
$v-secondary-800: rgb(255, 254, 232);
$v-secondary-900: rgb(255, 255, 255);
