$gray-50: rgb(20, 20, 20);
$gray-100: rgb(33, 33, 33);
$gray-150: rgb(46, 46, 46);
$gray-200: rgb(58, 58, 58);
$gray-250: rgb(71, 71, 71);
$gray-300: rgb(84, 84, 84);
$gray-350: rgb(97, 97, 97);
$gray-400: rgb(109, 109, 109);
$gray-450: rgb(122, 122, 122);
$gray-500: rgb(135, 135, 135);
$gray-550: rgb(148, 148, 148);
$gray-600: rgb(160, 160, 160);
$gray-650: rgb(173, 173, 173);
$gray-700: rgb(186, 186, 186);
$gray-750: rgb(199, 199, 199);
$gray-800: rgb(211, 211, 211);
$gray-850: rgb(224, 224, 224);
$gray-900: rgb(237, 237, 237);
$gray-950: rgb(250, 250, 250);

$red-50: rgb(22, 3, 3);
$red-100: rgb(44, 7, 7);
$red-150: rgb(66, 10, 10);
$red-200: rgb(88, 14, 14);
$red-250: rgb(110, 17, 17);
$red-300: rgb(133, 20, 20);
$red-350: rgb(155, 24, 24);
$red-400: rgb(177, 27, 27);
$red-450: rgb(199, 31, 31);
$red-500: rgb(221, 34, 34);
$red-550: rgb(224, 56, 56);
$red-600: rgb(228, 78, 78);
$red-650: rgb(231, 100, 100);
$red-700: rgb(235, 122, 122);
$red-750: rgb(238, 145, 145);
$red-800: rgb(241, 167, 167);
$red-850: rgb(245, 189, 189);
$red-900: rgb(248, 211, 211);
$red-950: rgb(252, 233, 233);
