@import 'mixins/underline';
@import 'colors';
@import 'variables';

.block {
  display: block;
}

.m-0 {
  margin: 0 !important;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-0_5 {
  margin-right: 0.5rem;
}

.ml_0_25 {
  margin-left: 0.25rem;
}

.ml-0_5 {
  margin-left: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.flex-gap-1 {
  gap: 1rem;
}

.flex-gap-0_5 {
  gap: 0.5rem;
}

.flex-1 {
  flex: 1;
}

.visibility-hidden {
  visibility: hidden;
}

.strong {
  font-weight: 500;
}

.medium {
  font-weight: 400;
}

.lead-1 {
  font-size: 1.5rem;
}

.lead-2 {
  font-size: 2rem;
}

.lead-3 {
  font-size: 3rem;
}

.strike {
  text-decoration: line-through;
}

.underline {
  @include underline();
}

.text-decoration-none {
  text-decoration: none !important;
}

.italic {
  font-style: italic;
}

.small {
  font-size: $v-small-font;
}

.tiny {
  font-size: 80%;
}

.muted {
  color: var(--text-muted);
}

.invisible-space {
  width: 0;
  font-size: 0;
}

.middle {
  vertical-align: middle;
}

.text-success {
  color: $v-green-500;
}

.text-danger {
  color: $v-red-500;
}

.status-icon {
  font-size: clamp(8rem, 15vw, 12rem);
}

.outside {
  list-style-position: outside;
  margin-left: 1.2em;
}
