$v-color-primary: #0050ff;
$v-color-danger: #ff5e5e;
$v-color-body: #6a6a6a;
$v-color-emphasize: #000000;
$v-color-contrast: #fbfbfb;
$v-color-border: #bababa;
$v-color-border-muted: #e6e6e6;

$v-btn-shadow-spread: 6px;
$v-btn-shadow-v-offset: 3px;
$v-btn-box-shadow: 0 $v-btn-shadow-v-offset $v-btn-shadow-spread
  rgba(0, 80, 255, 0.25);

$v-border-radius: 8px;
