$v-btn-shadow-spread: 6px;
$v-btn-shadow-v-offset: 3px;
$v-border-radius: 8px;

$v-light-color-primary: #0050ff;
$v-light-color-active: #0047e3;
$v-light-color-danger: #ff5e5e;
$v-light-color-body: #6a6a6a;
$v-light-color-emphasize: #000000;
$v-light-color-contrast: #fbfbfb;
$v-light-color-border: #bababa;
$v-light-color-border-muted: #e6e6e6;

$v-light-btn-color: #ffffff;
$v-light-btn-bg: $v-light-color-primary;
$v-light-btn-hover-bg: $v-light-color-active;
$v-light-btn-active-bg: $v-light-color-active;
$v-light-btn-active-shadow: inset 0px 0px 15px rgba(3, 36, 108, 0.4);
$v-light-btn-box-shadow: 0 $v-btn-shadow-v-offset $v-btn-shadow-spread
  rgba(0, 80, 255, 0.25);
