@import '~@vocably/styles/variables';
@import '~@vocably/styles/mixins/underline';
@import '~@vocably/styles/mixins/link';

$body-color: $v-light-color-body;

body {
  color: $body-color;
  font-size: 100%;
}

a {
  @include link();
}
