@use 'sass:math';
@import '../../styles/component';

$input-padding-x: 14px;
$input-padding-y: 10px;

$section-margin: 8px;

:host {
  @include base-font();

  display: block;
}

.margin-left {
  margin-left: 12px;
}

.margin-bottom-1 {
  margin-bottom: 4px;
}

.margin-bottom-2 {
  margin-bottom: 12px;
}

.margin-top-2 {
  margin-top: 12px;
}

.text-right {
  text-align: right;
}

.text-link,
.text-link:active,
.text-link:visited {
  color: $v-light-color-body !important;
}

.text-link:hover {
  color: $v-light-color-emphasize !important;
}

.emphasized {
  color: $v-light-color-emphasize;
  font-weight: bold;
}

.small {
  font-size: $base-font-size * 0.9;
}

.text-primary {
  color: $v-light-color-primary;
}

.translation {
  display: flex;
  align-items: stretch;
  gap: $section-margin;

  @media screen and (max-width: 600px) {
    & {
      flex-direction: column;
    }
  }

  .value {
    margin-bottom: 8px;
  }

  .pos {
    display: inline-block;
    font-size: 80%;
  }

  .invisible-space {
    display: inline-block;
    width: 0;
    font-size: 0;
  }

  .header {
    margin-bottom: 12px;
  }

  .section {
    padding-left: $input-padding-x;
  }
}

.error {
  color: $v-light-color-danger;
}

select {
  margin-left: -$input-padding-x;
  width: calc(100% + #{$input-padding-x});
  @include select($input-padding-x, $input-padding-y);
}

.loading-container {
  position: relative;
}

.reload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  opacity: 0.5;
}

@keyframes floating {
  0% {
    transform: translate(0, -2px);
  }
  50% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(0, -2px);
  }
}

.save-hint-container {
  position: relative;
}

.save-hint {
  position: absolute;
  width: 165px;
  top: 6px;
  right: 40px;
  animation: floating 3s ease-in-out infinite;
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.save-hint.hidden {
  opacity: 0;
}

$container-padding: $input-padding-y $input-padding-x $input-padding-y
  $input-padding-x;

.cards {
  border: $internal-border;
  border-radius: $v-border-radius;
  background-color: $v-light-color-contrast;
  margin-left: -$input-padding-x;
  margin-bottom: 1px;

  .card {
    position: relative;
    padding: $container-padding;
    border-top: $internal-border;

    .safe-action-area {
      padding-right: 34px;
    }

    &:first-child {
      border-top: none;
    }

    .card-hint-displayed {
      min-width: 220px;
    }

    .card-action {
      $size: 24px;
      position: absolute;
      right: $input-padding-x;
      top: $input-padding-y;
      min-width: $size;
      height: $size;
      line-height: $size;
      text-align: center;
    }

    .card-action-button {
      padding: 0;
      margin: 0;
      background: none;
      border: none;
      cursor: pointer;

      opacity: 0.1;
      transition: opacity 200ms;

      &:hover {
        opacity: 1;
      }

      & > * {
        vertical-align: middle;
      }
    }
  }
}

vocably-play-sound {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  margin-right: 4px;
}

.rate-container {
  transition: all 1s ease-in-out;
  max-height: 500px;
  opacity: 1;
  box-sizing: border-box;

  &.hidden {
    max-height: 0;
    opacity: 0;
  }
}

.rate-padding {
  padding: $container-padding;
}

.direct-translation {
  display: flex;
  flex-direction: row;
}

.added-congratulation {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;

  &.visible {
    max-height: 500px;
  }
}

.added-congratulation-content {
  padding-top: 12px;
}

.added-congratulation-content-1 {
  padding: 12px;
  background: white;
}

.list {
  list-style: outside;
  padding: 0;
  margin: 0 0 0 $base-font-size;
}

.italic {
  font-style: italic;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-6 {
  margin-bottom: 6px;
}

.mt-6 {
  margin-top: 6px;
}
