@use 'sass:math';
@import '../../styles/component';

$input-padding-x: 14px;
$input-padding-y: 10px;

:host {
  @include base-font();

  display: block;
}

.margin-left {
  margin-left: 16px;
}

.margin-bottom-1 {
  margin-bottom: 8px;
}

.emphasized {
  color: $v-gray-50;
  font-weight: bold;
}

.small {
  font-size: $base-font-size * 0.8;
}

.text-primary {
  color: $primary-color;
}

.translation {
  display: flex;
  align-items: stretch;

  .value {
    margin-bottom: 8px;
  }

  .pos {
    color: $v-gray-700;
    display: inline-block;
    margin-left: math.div($base-font-size, 4);
    font-size: 60%;
  }

  .invisible-space {
    display: inline-block;
    width: 0;
    font-size: 0;
  }

  .header {
    font-size: $base-font-size * 0.9;
    margin-bottom: 12px;
  }

  .section {
    padding-left: $input-padding-x;
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.error {
  color: $v-red-500;
}

select {
  color: $v-gray-300;
  margin-left: -$input-padding-x;
  width: calc(100% + #{$input-padding-x});
  font-size: $base-font-size * 0.9;
  padding: $input-padding-y $input-padding-x;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  appearance: none;
  background: $input-bg-color
    url('data:image/svg+xml;utf8,<svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 1 5 6 1 1" stroke="rgb(109, 109, 109)" stroke-width=".5" stroke-miterlimit="10" stroke-linecap="round"/></svg>')
    no-repeat;
  background-position: right $input-padding-x top 50%;
  outline: none;

  &:focus,
  &:hover {
    border-color: $v-gray-500;
  }
}

.loading-container {
  position: relative;
}

.reload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  opacity: 0.5;
}

.cards {
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  background-color: $input-bg-color;
  margin-left: -$input-padding-x;
  margin-bottom: 1px;

  .card {
    position: relative;
    padding: $input-padding-y $input-padding-x;
    border-top: 1px solid #bababa;

    &:first-child {
      border-top: none;
    }

    .number {
      $size: 24px;
      position: absolute;
      right: $input-padding-x;
      top: $input-padding-y;
      border: 1px solid #e6e6e6;
      border-radius: 50%;
      min-width: $size;
      height: $size;
      line-height: $size;
      text-align: center;
    }
  }
}
