@import '../../../styles/variables';
@import '../../../styles/mixins/button';

.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: $md) {
    flex-direction: row;
  }

  @media (min-width: $lg) {
    gap: 2rem;
  }
}

.card {
  color: inherit;
  background: var(--contrast-bg);
  border: 1px solid var(--border-color);
  text-align: left;
  border-radius: $border-radius;
  font: inherit;
  cursor: pointer;
  box-shadow: 0 4px 15px var(--product-card-shadow-color);
  transition: background 0.2s;
  padding: 1rem 1.5rem;

  @media (min-width: $lg) {
    padding: 1.5rem 2rem;
  }

  &.active {
    border-color: var(--primary-color);
    box-shadow: 0 4px 15px rgba(var(--primary-rgb), 0.3);
  }

  .break-word {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .text-x200 {
    font-size: 200%;
  }

  .text-x150 {
    font-size: 150%;
  }

  .border-bottom {
    border-bottom: 0.5px solid var(--text-color);
  }

  .select-button {
    @include button-pristine();
    @include button-block();

    &.selected {
      @include button-active();
    }
  }

  .hide-when-needed {
    @media (min-width: $sm + 100px) {
      display: none;
    }
  }
}
