@import '../../styles/variables';

.header {
  padding-bottom: $header-bottom-padding;
}

.header-items {
  display: flex;
  flex-direction: row;
  height: $header-items-height;
  align-items: center;
  justify-content: center;

  .title,
  .logo,
  .content,
  .menu {
    flex: 1;
    white-space: nowrap;
  }

  .flex-0 {
    flex: 0;
  }

  .title {
    font-size: 1.2rem;
  }

  .content {
    text-align: center;
  }

  .menu {
    text-align: right;
  }

  .icon {
    vertical-align: middle;
  }

  .logo-link {
    display: inline-block;
  }

  .logo-image {
    height: $header-items-height;
    user-select: none;
  }
}

.mini {
  .logo {
    flex: 0;
  }
}
