@import '../../styles/variables';

.header {
  padding-bottom: var(--header-padding-bottom);

  .header-items {
    height: var(--header-items-height);
  }

  .logo-image {
    height: $logo-height;
    user-select: none;
  }
}

a[mat-menu-item] {
  color: var(--emphasize-color);
}
