html {
  scroll-padding-top: 4.5rem;
}

aside,
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.mb-section {
  margin-bottom: 4rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: $v-light-color-emphasize;
}

a {
  text-decoration-thickness: 0.5px !important;
  text-underline-offset: 2px !important;
}

.video-js,
.vjs-poster {
  background-color: transparent !important;
}
