vocably-play-sound {
  display: inline-block;
  vertical-align: baseline;
  // Reddit sets visibility: hidden for custom elements
  visibility: visible !important;
}

.vocably-play-sound-button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  width: 18px;

  &:disabled {
    cursor: default;
  }
}
