@import '../../styles/component';

$button-size: 25px;
$icon-size: $button-size - $close-button-padding * 2;

vocably-close-button {
  display: inline-block;
  width: $button-size;
  height: $button-size;
  line-height: $button-size;
  vertical-align: middle;

  // Reddit sets visibility: hidden for custom elements
  visibility: visible !important;
}

.vocably-close-button {
  display: block;
  width: $button-size;
  height: $button-size;
  line-height: $button-size !important;
  background: none;
  border: none;
  padding: $close-button-padding;
  font-size: 0;
  cursor: pointer;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.8);
  }
}

.vocably-close-svg {
  width: $icon-size;
  height: $icon-size;
}

.vocably-close-svg-path {
  stroke-width: 0.5px;
  stroke: $v-light-color-body;
}
